tests/testdata/metadata/xml/schema/crossref/schema-0.3.1/schemas/doi_resources4.4.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.crossref.org/doi_resources_schema/4.5.0"
	targetNamespace="http://www.crossref.org/doi_resources_schema/4.5.0"
	xmlns:fr="http://www.crossref.org/fundref.xsd"
	xmlns:ai="http://www.crossref.org/AccessIndicators.xsd"
	xmlns:rel="http://www.crossref.org/relations.xsd"
	xmlns:ct="http://www.crossref.org/clinicaltrials.xsd">


	<!--*************************************************************
	Crossref Resource Input Schema, v. 4.5.0
	*************************************************************
	
This is the latest iteration of the Crossref Resource Schema, used to append metadata to existing records.

For more information on the use of this schema see (link tk)

As of version 4.5.0 all changes are noted in the release notes for the schema repository in GitLab:  https://gitlab.com/crossref/schema/-/releases
	
Prior updates are noted as comments within previous schema versions.
	
  -->


	<xsd:include schemaLocation="common4.5.0.xsd"/>
	<xsd:import namespace="http://www.crossref.org/fundref.xsd" schemaLocation="fundref.xsd"/>
	<xsd:import namespace="http://www.crossref.org/AccessIndicators.xsd"
		schemaLocation="AccessIndicators.xsd"/>
	<xsd:import namespace="http://www.crossref.org/relations.xsd" schemaLocation="relations.xsd"/>
	<xsd:import namespace="http://www.crossref.org/clinicaltrials.xsd"
		schemaLocation="clinicaltrials.xsd"/>

	<xsd:element name="doi_batch">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="head"/>
				<xsd:element ref="body"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" fixed="4.5.0"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="head">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi_batch_id"/>
				<xsd:element ref="depositor"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="body">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi_citations" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="doi_resources" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="crossmark_data" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="fundref_data" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="lic_ref_data" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="doi_relations" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="clinicaltrial_data" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="doi_citations">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi"/>
				<xsd:element ref="citation_list"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="doi_resources">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi"/>
				<xsd:element ref="collection"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="crossmark_data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi"/>
				<xsd:element ref="crossmark"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fundref_data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi"/>
				<xsd:element ref="fr:program"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lic_ref_data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi"/>
				<xsd:element ref="ai:program"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="doi_relations">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi"/>
				<xsd:element ref="rel:program"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="clinicaltrial_data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi"/>
				<xsd:element ref="ct:program"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>
